@import url("https://fonts.googleapis.com/css2?family=Edu+QLD+Hand:wght@400..700&display=swap");
body {
    background-color: #d7c49e;
    color: #343148;
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-family: "Edu QLD Hand", sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul {
    padding: 10px;
    width: 100%;
}
li {
    border: 2px solid #343148;
    background-color: #eee;
    margin-bottom: 5px;
    padding-left: 2px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    list-style-type: disc;
}
li p {
    margin: 5px;
    margin-left: 15px;
    font-weight: 500;
}
li button {
    right: 5px;
    background-color: red;
    width: 15%;
    color: #fff;
    font-size: 30px;
}
li::before {
    content: url(./icons/right-arrow-svgrepo-com.svg);
    transform: scale(0.04);
    display: block;
    width: 10px;
    height: 10px;
    padding-top: 15px;
}
#add-btn {
    background-color: green;
    color: #fff;
    font-size: x-large;
    border: 2px solid #343148;
    border-radius: 5px;
    text-align: center;
    justify-self: center;
}
